.footer-divs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Poppins-regular", sans-serif;
    margin: 20px 100px 80px 80px;
}
.footer-divs a{
text-decoration: underline;
text-decoration-color:#82b1be;
text-underline-offset: 5px;
color: #000;
}
.footer-divs a:hover{
    background-color: #82b1be;
    padding: 10px;
    border-radius: 20px;
    color: #fcfcfc;
}
footer h1{
    color: #82b1be;
    font-family: "Poppins-regular", sans-serif;
    justify-self: center;
    margin-right: 0px;
    font-size: 30px
}
.footer-tel, .footer-end{
    justify-items: end;
}

.footer-divs h2{
    color: #82b1be;
    font-size: 20px;
}
footer{
    margin: 150px 0px 60px 0px;
}

@media(max-width:1000px){
    footer h1{
        font-size: 20px;
        align-self: center;
    }
    .footer-divs h2{
        font-size: 10px;
    }
    .footer-divs{
        margin: 20px 20px 30px 20px;
    }
    .footer-divs a{
        font-size: 9px;
    }
    .footer-tel, .footer-end{
        place-items: end;
    }
}