.header-bg{
    background-color: #fcfcfc;
    margin: 0px;
 }
 .header-itens{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .selmanome{
     font-family: "Amsterdam", sans-serif;
     font-size: 30px;
     font-weight: 300;
     text-shadow: -2px 0px 2px rgba(0, 0, 0, 0.5);
     grid-column: 2;
     white-space: nowrap;
     }
 .nome-simb{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding-right: 0px;
    margin-right: 150px;
 }

.crpclasse{
    grid-column: 1;
    align-self: end;
    justify-self: center;
    font-size: 12px;
    font-family: "Montserrat-regular", Arial, Helvetica, sans-serif ;
    padding: 0px;
    max-width: 150px;
    margin-left: 45px;
    white-space: nowrap;
    text-decoration: none;
}
.justpsinome{
    display: none;
    font-family: "Montserrat-extralight";

}
.psinome{
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 75px;
    font-family: "Montserrat-extralight";
}
.nome-simb{
    position: relative;
}
 .nome-simb::before{
 content: "";
 height: 75px;
 width: 175px;
 background-image: url(./img/psi\ svg\ simble.svg);
 background-repeat: no-repeat;
 background-position: center;
 position: absolute;
 left: 55px;
 top: 30px;
 }
 .linkwpp{
     padding-left: 40px;
     font-size: 20px;
     text-decoration: none;
     font-family: "Poppins-regular";
     font-weight: 500;
     color: #82b1be;
 }
 .linkcontato{
     padding-right: 40px;
     font-size: 20px;
     text-decoration: none;
     font-family: "Poppins-regular";
     font-weight: 500;
     color: #82b1be;
 }
 .linkwpp:hover, .linkcontato:hover{
     color: rgb(121, 121, 224);
 }
 @media(max-width:1000px){
    .selmanome{
        font-size: 27px;
    }
    .psinome{
        font-size: 12px;
        top: 70px;
        right: 5px;
    }
    .crpclasse{
        font-size: 10px;
    }
    .nome-simb::before{
        height: 55px;
        width: 65px;
        top: 45px;
        left: 95px;
    }
    .linkwpp{
        padding-left: 20px;
        font-size: 15px;
    }
    .linkcontato{
        padding-right: 20px;
        font-size: 15px;
 }
}
 @media(max-width:840px){
    .nome-simb{
        margin-right: 100px;
    }
    .selmanome{
        font-size: 25px;
    }
    .psinome{
        font-size: 11px;
        top: 65px;
    }
    .crpclasse{
        font-size: 7px;
        padding-bottom: 15px;
    }
    .nome-simb::before{
        height: 55px;
        width: 55px;
        top: 30px;
        left: 92px;
    }

 }
 @media(max-width:760px){
    .selmanome{
        font-size: 20px;
        margin: 0px;
    }
    .nome-simb{
        margin-right: 0px;
        margin-left: -30px;
    }
    .psinome{
        font-size: 9px;
        top: 38px;
        right: 1px;
    }
    .crpclasse{
        font-size: 7px;
        padding-bottom: 2px;
    }
    .nome-simb::before{
        height: 45px;
        width: 35px;
        top: 7px;
        left: 85px;
    }
    .linkcontato, .linkwpp{
        font-size: 10px;
    }
 }
 @media(min-width:461px) and (max-width:530px){
    .nome-simb::before{
        left: 85px;
    }
 }
 @media(max-width:460px){
    .nome-simb{
        margin-right: 10px;
    }
    
    .selmanome{
        font-size: 18px;
    }
    .crpclasse{
        font-size: 6px;
        padding-right: 0px;
        padding-bottom: 7px;
        grid-column: 1/2;
        grid-row: 1;
    }
    .justpsinome{
        display: initial;
        font-size: 8px;
        margin-bottom: 3px;
        place-self: end;
        padding: 20px 21px 0px 0px;
        grid-column: 1/2;
        grid-row: 1;
    }
    .psinome{
      display: none;
    }
    .nome-simb::before{
        height: 27px;
        width: 30px;
        top: 10px;
        left: 78px;
    }
 }
 @media(max-width:440px){
    .nome-simb{
        grid-template-columns: 0.5fr 1fr;
        margin-left: 0px;
    }
    .nome-simb::before{
        left: 35px;
    }
    .crpclasse{
        margin-left: 0px;
    }
    .justpsinome{
        font-size: 8px;
        margin: 0px 0px 4px 0px;
        align-self: end;
        justify-self: center;
        padding-left: 23px;
    }
 }
@media(max-width:395px){
    .nome-simb{
        margin-right: 30px;
    }
    .selmanome{
        font-size: 17px;
    }
    .nome-simb::before{
        left: 40px;
        top: 6px;
    }
    .linkwpp, .linkcontato{
        font-size: 7px;
    }
}
@media(max-width:360px){
    .nome-simb::before{
        left: 40px;
    }
}
@media(max-width:330px){
    .selmanome{
        font-size: 14px;
    }
}