.header-bg{
    background-color: #fcfcfc;
    margin: 0px;
 }
 .header-itens{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .selmanome{
     font-family: "Amsterdam", sans-serif;
     font-size: 30px;
     font-weight: 300;
     text-shadow: -2px 0px 2px rgba(0, 0, 0, 0.5);
     grid-column: 2;
     }
 .nome-simb{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding-right: 0px;
    margin-right: 250px;
 }

.crpclasse{
    grid-column: 1;
    align-self: end;
    justify-self: center;
    font-size: 12px;
    font-family: "Montserrat-extralight", Arial, Helvetica, sans-serif ;
    padding: 0px;
    max-width: 150px;
    margin-left: 45px;
}
.psinome{
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 75px;
    font-family: "Montserrat-extralight";
}
.nome-simb{
    position: relative;
}

 .nome-simb::before{
 content: "";
 height: 75px;
 width: 175px;
 background-image: url(./img/psi\ svg\ simble.svg);
 background-repeat: no-repeat;
 background-position: center;
 position: absolute;
 left: 55px;
 top: 30px;
 }
 
 .linkwpp{
     padding-left: 40px;
     font-size: 20px;
     text-decoration: none;
     font-family: "Poppins-regular";
     font-weight: 500;
     color: #82b1be;
 }
 .linkcontato{
     padding-right: 40px;
     font-size: 20px;
     text-decoration: none;
     font-family: "Poppins-regular";
     font-weight: 500;
     color: #82b1be;
 }
 .linkwpp:hover, .linkcontato:hover{
     color: rgb(121, 121, 224);
 }
 
 @media(max-width:1000px){
    .selmanome{
        font-size: 20px;
    }
    .psinome{
        font-size: 10px;
        top: 50px;
    }
    .crpclasse{
        font-size: 10px;
    }
    .nome-simb::before{
        height: 55px;
        width: 65px;
        top: 15px;
        left: 65px;
    }
    .linkwpp{
        padding-left: 20px;
        font-size: 15px;
    }
    .linkcontato{
        padding-right: 20px;
        font-size: 15px;
 }
}
 @media(max-width:840px){
    .selmanome{
        font-size: 15px;
    }
    .psinome{
        font-size: 7px;
        top: 40px;
    }
    .crpclasse{
        font-size: 7px;
    }
    .nome-simb::before{
        height: 35px;
        width: 45px;
        top: 20px;
        left: 62px;
    }

 }
 @media(max-width:760px){
    .selmanome{
        font-size: 15px;
    }
    .nome-simb{
        margin-right: 0px;
    }
 }