.header-bg{
    background-color: #fcfcfc;
    margin-top: 0px;
 }
 .header-itens{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .selmanome{
     font-family: "Amsterdam", sans-serif;
     font-size: 30px;
     font-weight: 300;
     text-shadow: -2px 0px 2px rgba(0, 0, 0, 0.5);
     /*outline: 1px blue solid;*/
     grid-column: 2;
     }

 .nome-simb{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    /*outline: 1px red solid;*/
    font-family: "Poppins-regular", sans-serif;
    padding-right: 0px;
    margin-right: 250px;
 }

.crpclasse{
    grid-column: 1;
    align-self: end;
    justify-self: center;
    font-size: 12px;
   /* outline: 1px blue solid;*/
    padding: 0px;
    max-width: 150px;
    margin-left: 45px;
}
.psinome{
    font-size: 18px;
    position: absolute;
    right: -10px;
    top: 70px;
  /* outline: 1px red solid;*/
}
.nome-simb{
    position: relative;
}

 .nome-simb::before{
 content: "";
 height: 75px;
 width: 175px;
 background-image: url(./img/psi\ svg\ simble.svg);
 background-repeat: no-repeat;
 background-position: center;
 position: absolute;
 left: 55px;
 top: 30px;
 }
 
 .linkwpp{
     padding-left: 40px;
     font-size: 20px;
     text-decoration: none;
     font-family: "Poppins-regular";
     font-weight: 500;
     color: #82b1be;
 }
 .linkcontato{
     padding-right: 40px;
     font-size: 20px;
     text-decoration: none;
     font-family: "Poppins-regular";
     font-weight: 500;
     color: #82b1be;
 }
 .linkwpp:hover, .linkcontato:hover{
     color: rgb(121, 121, 224);
 }
 