.main-grid1{
    margin: 50px 70px 100px 70px;
    align-items: center;
    justify-items: center;
}

.texto-bio{
    text-align: justify;
    font-family: "Poppins-regular", sans-serif;
    max-width: 500px;
    flex-wrap: wrap;
    font-size: 16px;
    position: relative;
    z-index: 1;
    
}
.texto-bio::before{
    content: "";
    background: url(./img/CARINHA\ SVG.svg) no-repeat center;
    width: 750px;
    height: 400px;
    top: -20px;
    right: -120px;
    position: absolute;
    z-index: -1;
    opacity: 10%;
    transform: rotate(5deg);
}

@media(max-width:1000px){
.texto-bio{
    font-size: 14px;
    max-width: 450px;
}
.texto-bio::before{
    content: "";
    background: url(./img/CARINHA\ SVG.svg) no-repeat center;
    width: 700px;
    height: 320px;
    top: -35px;
    right: -110px;
}
}

@media(max-width:600px){
   .texto-bio{
    font-size: 11px;
   }
    .texto-bio::before{
    content: none;
    width: 500px;
    height: 250px;
    top: 18px;
}
}