.main-grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 70px;
    align-items: center;
}
.main-grid1 img{
     grid-column: 1;
     display: block;
     width: 400px;
     height: 500px;
     grid-row: 1;
     justify-self: center;
     margin-right: 50px;
}
.texto-bio{
    grid-column: 2;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
