@import url(./header.css);
@import url(./main.css);
@import url(./feedbacks.css);
@import url(./atendimentos.css);
@import url(./footer.css);

@font-face {
    font-family: "Snell";
    src: url(./fonts/snell-bold.otf); 
}
@font-face {
    font-family: 'Amsterdam';
    src: url(./fonts/Amsterdam.ttf);
}
@font-face {
    font-family: 'Poppins-regular';
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-light";
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: "Montserrat-extralight";
    src: url(./fonts/Montserrat-ExtraLight.ttf);
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background: linear-gradient(to bottom, #d5fdff 60% , #fcfcfc 85%);
}
